# **Aim:** To predict emotions from a text using Neural Networks

## EDA

### Importing Header Files

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from warnings import filterwarnings
import seaborn as sns
import re
import string

### Initializing Dataset

In [2]:
df = pd.read_csv("/home/jt/Python/Research/preds/training.csv")

In [3]:
df.drop("Unnamed: 0",axis = 1, inplace = True)

In [4]:
def clean_tweet(i):
    entity_prefixes = ['@','#']
    for separator in  string.punctuation:
        if separator not in entity_prefixes :
            i = i.replace(separator,' ')
    words = []
    for word in i.split():
        word = word.strip()
        if word:
            if word[0] not in entity_prefixes:
                words.append(word)
    return ' '.join(words)

In [5]:
df["Length"] = df["Tweet"].str.len()

In [6]:
for i in range(0,len(df)):
    df["Tweet"][i] = clean_tweet(df["Tweet"][i])

/tmp/ipykernel_2686/3905470843.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Tweet"][i] = clean_tweet(df["Tweet"][i])

In [7]:
df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [8]:
df['Tweet'] = df['Tweet'].map(lambda text:re.sub('[^a-zA-Z0-9]+', ' ',text)).apply(lambda x: (x.lower()))

In [9]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [10]:
# Exclude stopwords with Python's list comprehension and pandas.DataFrame.apply.
df["Tweet"] = df['Tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [11]:
df['Tweet'] = df['Tweet'].str.replace('\d+', '')

/tmp/ipykernel_2686/3549973974.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Tweet'] = df['Tweet'].str.replace('\d+', '')

In [12]:
df["Tweet"] = df["Tweet"].str.replace("$","")

/tmp/ipykernel_2686/506338351.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Tweet"] = df["Tweet"].str.replace("$","")

In [13]:
df

                                                   Tweet   Emotion Length
0                         vet vechain vefam start voting  Surprise     51
1      cryptocurrencies going disappoint looking use ...       Joy    257
2      yes think btc going ath run next week get futu...       Joy    118
3      sunday charting frens wanna share think bullis...       Joy    213
4      petty invectives wasabi aside one clearest con...      Fear    142
...                                                  ...       ...    ...
20685             space nft slogan xyz ok let bet future       Joy    181
20686        thinking moving non eth farming ftm avax bc   Sadness     93
20687                               fi   avax fee really   Sadness     38
20688  stats price   cmc rank circulating supply    a...       Joy    183
20689             ant uncommon colony stage  sold   avax       Joy     66

[20690 rows x 3 columns]

In [14]:
df1 = df[df["Emotion"] == "Joy"]
df2 = df[df["Emotion"] == "Surprise"]
df3 = df[df["Emotion"] == "Fear"]
df4 = df[df["Emotion"] == "Sadness"]
df5 = df[df["Emotion"] == "Anger"]
df6 = df[df["Emotion"] == "Disgust"]

In [15]:
from collections import Counter
c1 = Counter(" ".join(df1["Tweet"]).split()).most_common()
c2 = Counter(" ".join(df2["Tweet"]).split()).most_common()
c3 = Counter(" ".join(df3["Tweet"]).split()).most_common()
c4 = Counter(" ".join(df4["Tweet"]).split()).most_common()
c5 = Counter(" ".join(df5["Tweet"]).split()).most_common()
c6 = Counter(" ".join(df6["Tweet"]).split()).most_common()

In [16]:
c1_2 = []
c3_4 = []
c5_6 = []
c1_2_and_c3_4 = []
c3_4_and_c5_6 = []
finalcommon = []

In [17]:
c1_2 = set(c1)&set(c2) 
c3_4 = set(c3)&set(c4)
c5_6 = set(c5)&set(c6)

c1_2final = sorted(c1_2)
c3_4final = sorted(c3_4)
c5_6final = sorted(c5_6)

In [18]:
c1_2_and_c3_4 = set(c1_2)&set(c3_4)
c3_4_and_c5_6 = set(c3_4)&set(c5_6)

c1_2_and_c3_4final = sorted(c1_2_and_c3_4)
c3_4_and_c5_6final = sorted(c3_4_and_c5_6)

In [19]:
c1_2_and_c5_6 = set(c1_2)&set(c5_6)
c1_2_and_c5_6final = sorted(c1_2_and_c5_6)

In [20]:
finalcommon = set(c1_2_and_c3_4)&set(c3_4_and_c5_6)
final = sorted(finalcommon)

In [21]:
c1_2_final_df = pd.DataFrame(c1_2final)

In [22]:
pd.DataFrame(c1_2final).to_csv("Common Words between Joy and Suprise.csv")

In [23]:
pd.DataFrame(c3_4final).to_csv("Common Words between Fear and Sadness.csv")

In [24]:
pd.DataFrame(c5_6final).to_csv("Common Words between Anger and Disgust.csv")

In [25]:
pd.DataFrame(c1_2_and_c3_4final).to_csv("Common Words between Joy,Suprise and Fear,sadness.csv")

In [26]:
pd.DataFrame(c3_4_and_c5_6final).to_csv("Common Words between Fear,sadness and Anger,Disgust.csv")

In [27]:
pd.DataFrame(final).to_csv("common of all.csv")